# Ambientes Virtuais e Dependências
# Ignora pastas de ambientes virtuais comuns e arquivos de variáveis de ambiente.
.venv/
venv/
.env
.eggs/
instance/

# Arquivos Python
# Ignora caches, logs e pacotes de distribuição gerados pelo Python.
**/__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.log

# Django
# Ignora arquivos de banco de dados, configurações locais e pastas de mídia.
*.sqlite3
db.sqlite3
local_settings.py
media/

# Testes
# Ignora arquivos e pastas gerados por ferramentas de teste como pytest e coverage.
.coverage
htmlcov/
.pytest_cache

# IDEs e Editores de Código
# Ignora arquivos de configuração específicos de editores.
.vscode/
.idea/

# Sistema Operacional
# Ignora arquivos de metadados gerados pelo macOS e Windows.
.DS_Store
Thumbs.db

# Específico do Projeto
# Adicione aqui arquivos ou pastas específicas do seu projeto.
...