# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/
*.sqlite3
.env
.venv/
venv/
instance/
.coverage
htmlcov/

# Django
*.log
local_settings.py
db.sqlite3
media/

# VSCode / IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

