services:
  db:
    image: postgres
    restart: always
    environment:
      POSTGRES_USER: ${DATABASE_USERNAME}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      POSTGRES_DB: ${DATABASE_NAME}
    ports:
      - "1234:5432"
    volumes: 
      - postgres_data:/var/lib/postgresql/data/   
    env_file:
      - .env
  django-web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./djangoproject:/djangoproject
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db
    container_name: django-docker
    environment:
     DJANGO_SECRET_KEY: ${SECRET_KEY}
     DEBUG: ${DEBUG}
     DJANGO_LOGLEVEL: ${DJANGO_LOGLEVEL}
     DJANGO_ALLOWED_HOSTS: ${DJANGO_ALLOWED_HOSTS}
     DATABASE_ENGINE: ${DATABASE_ENGINE}
     DATABASE_NAME: ${DATABASE_NAME}
     DATABASE_USERNAME: ${DATABASE_USERNAME}
 
     DATABASE_PASSWORD: ${DATABASE_PASSWORD}
     DATABASE_HOST: ${DATABASE_HOST}
     DATABASE_PORT: "5432"


volumes:
  postgres_data: